html {
  background-color: gainsboro;
  height: 100%;
}
body {
  max-width: 60rem;
  margin: 0 auto;
  font-size: 1.1rem;
  padding: 2rem;
  background-color: white;
  display: grid;
  min-height: 100%;
}

@media only screen and (min-width: 0em) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "logo"
      "blog"
      "no"
      "date"
      "by"
      "tags"
      "title"
      "img"
      "main"
      "."
  }
  .logo img {
    /* TODO: INLINE */
    width: 3.3rem;
    top: -2.5rem;
    right: 0rem;
  }
}

@media only screen and (min-width: 22em) {
  body {
    grid-template-columns: 2fr  1fr;
    grid-template-rows: repeat(6, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "logo logo"
      "blog blog"
      "date no"
      "by by"
      "tags tags"
      "title title"
      "img img"
      "main main"
      ". ."
  }
  .tags > ul {
    columns: 2;
  }
}

@media only screen and (min-width: 25em) {
  body {
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: repeat(6, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "no    logo  logo"
      "date  date  blog"
      "by    by    by"
      "tags  tags  tags"
      "title title title"
      "img   img   img"
      "main  main  main"
      ".     .     ."
  }
  .logo img {
    width: 3.3rem;
    top: -2.5rem;
    right: 0rem;
  }
  .logo {
    justify-self: end;
  }
  .bloglink {
    justify-self: end;
  }
}


@media only screen and (min-width: 32em) {
  body {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(6, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "blog  logo"
      "no    by"
      "date  by"
      "tags  tags"
      "title title"
      "img   img"
      "main  main"
      ".     ."
  }
  .by {
    justify-self: end;
  }
  .bloglink {
    justify-self: unset;
  }
}

@media only screen and (min-width: 40em) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "blog  logo"
      "date  no"
      "tags  by"
      "title by"
      "img   img"
      "main  main"
      ".     .";
  }
  .by {
    justify-self: unset;
  }
}

@media only screen and (min-width: 50em) {
  body {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(4, auto) 22.5rem auto 1fr; /* TODO: 22.5 is WAK! */
    grid-template-areas:
      "blog  logo  logo"
      "date  .     no"
      "tags  .     by"
      "title .     by"
      "img   img   img"
      "main  main  main"
      ".     .     .";
  }
}

@media only screen and (min-width: 56em) {
  .logo img {
    width: 5.5rem;
    top: -3rem;
    right: 0rem;
  }
}

main,
article,
header,
.title {
  display: contents;
}
header {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body > header {
  font-size: 2rem;
}
header a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  display: inline-block;
  position: relative;
}
header img {
  position: absolute;
}
article header > * {
  margin: 0.5rem 0rem;
}
article header ul {
  margin: 0.1rem;
  list-style-type: '\2022';
  padding-left: 2rem;
  font-size: 0.8rem;
}
article header li {
  padding-left: 0.5rem;
}
.logo {
  grid-area: logo;
  align-self: center;
  color: inherit;
  text-decoration: none;
}
.bloglink {
  grid-area: blog;
  font-weight: bold;
}
.date {
  grid-area: date;
}
.date small {
  font-size: 0.8rem;
  margin-left: 5.5rem;
}
.tags {
  grid-area: tags;
}
.title > span {
  grid-area: title;
}
.title > h1 {
  grid-area: img;
  width: 100%;
}
.no {
  grid-area: no;
}
.by {
  grid-area: by;
}
.by small {
  font-size: 0.8rem;
  font-style: italic;
  position: relative;
  margin-left: 0.5rem;
  bottom: 0.3rem; /*TODO: TOP ALIGN TO 'BY' INSTEAD SOMEHOW! */
}
.main {
  grid-area: main;
  margin: 2rem 0;
  font-family: Georgia, Times, Times New Roman, serif;
}